.treeMenu {
    position: fixed;
    background-color: #002378;
    border: 0;
    z-index: 2;
}

.treeMenu>.ant-menu-item {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px !important;
    margin-top: 0px;
    color: #ccc;
    border-bottom: 1px solid #004589;
}

.treeMenu>.ant-menu-item-selected {
    background-color: transparent !important;
}

.treeMenu>.ant-menu-item:hover {
    color: #fff;
    background-color: #004589 !important;
}